<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="mdi mdi-clipboard-text-outline menu-icon"></i>
                <span class="menu-title">Admin Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/viewUser">
                <i class="mdi mdi-airplay menu-icon"></i>
                <span class="menu-title">Manage User</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/viewComplain">
                <i class="mdi mdi-airplay menu-icon"></i>
                <span class="menu-title">Manage Complain</span>
            </a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="/admin/viewFeedback" aria-expanded="false" aria-controls="maps">
            <i class="mdi mdi-map-outline menu-icon"></i>
            <span class="menu-title">Manage Feedback</span>
          </a>
        </li>-->
        <li class="nav-item">
            <a class="nav-link" href="/admin/viewFeedback">
                <i class="mdi mdi-airplay menu-icon"></i>
                <span class="menu-title">Manage Feedback</span>
            </a>
        </li>
    </ul>
</nav>